.icons{
    font-size: 30px;
    color: #FFF;
    cursor: pointer;
}

.actions{
    font-size: 30px;
    cursor: pointer;
}

.text-warning{
    color: #FBC02D;
}

.text-danger{
    color: #FF3D00;
}

.home{
    
}